<h1>Show Job</h1>

<ul>

  <li>
    <strong>Job code:</strong>
    <%= @job.job_code %>
  </li>

  <li>
    <strong>Job name:</strong>
    <%= @job.job_name %>
  </li>

  <li>
    <strong>Supervisor:</strong>
    <%= @job.supervisor %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.job_path(@conn, :edit, @job) %></span>
<span><%= link "Back", to: Routes.job_path(@conn, :index) %></span>
